---
import { textTransform } from "../../core/effects/text-transform";
import * as m from "../../paraglide/messages";
import Citation from "../atoms/citation.astro";
import Paragraph from "../atoms/paragraph.astro";
import Title from "../atoms/title.astro";
import Chart, { type Series } from "../indicators/chart.astro";

const disclaimers = [
  m.benchmarks_disclaimer_workload(),
  m.benchmarks_disclaimer_methodology(),
];

const benchmarks = [
  {
    compiler: "zo",
    hot: 60,
  },
  {
    compiler: "clang",
    hot: 148,
  },
  {
    compiler: "rustc",
    hot: 321,
  },
];

const series: Series[] = benchmarks.map((benchmark) => ({
  label: benchmark.compiler,
  value: benchmark.hot,
  display: `${benchmark.hot}ms`,
}));
---

<section data-section="benchmarks" class="benchmarks">
  <Title as="h2">{m.benchmarks_title()}</Title>
  <Paragraph content={textTransform(m.benchmarks_description())} />
  <Chart
    series={series}
    unit="ms"
    animationScale={0.01}
    disclaimers={disclaimers}
  />
  <Citation sentence={m.benchmarks_quote_sentence()} author="Chandler Carruth" />
</section>

<style>
  .benchmarks {
    p {
      line-height: 1.4;
      /* margin: 2rem 0 0 0; */
    }
  }

  @media only screen and (min-width: 768px) {
    .benchmarks {
      p {
        font-size: 1rem;
        /* line-height: 1.45rem; */
      }
    }
  }
</style>