---
import type { Quote } from "../../core/quote";
import Title from "../atoms/title.astro";
import Card from "./card.astro";
import iconUnified from "../../assets/icons/icon-deal.svg";
import iconFast from "../../assets/icons/icon-fast.svg";
import iconSafe from "../../assets/icons/icon-safe.svg";
import iconWorkstation from "../../assets/icons/icon-workstation.svg";
import Citation from "../atoms/citation.astro";

const features = [
  {
    icon: iconUnified,
    title: "UNiFiED",
    content: "WRiTE Ui ONCE WiTH ZSX — TARGET NATiVE <sup class='superscript green-100'>gpu</sup> OR THE WEB <sup class='superscript green-100'>dom</sup>.",
  },
  {
    icon: iconFast,
    title: "FAST",
    content: "BUiLT FROM SCRATCH USiNG MODERN COMPiLER TECHNiQUES FOR iNSTANT EXECUTiON AND RAPiD DEBUGGiNG WiTH HELPFUL ERROR MESSAGES.",
  },
  {
    icon: iconSafe,
    title: "SAFE",
    content: "STATiCALLY & STRONGLY TYPED. USES GREEN AND OS THREADS WRAPPED iN NURSERY TASK SCOPES; NO LEAKED THREADS, NO DATA RACES.",
  },
  {
    icon: iconWorkstation,
    title: "iNTEGRATED",
    content: "A COMPLETE WORKSTATiON WiTH BUiLT-iN TOOLS — PACKAGE MANAGER <sup class='superscript green-100'><a href=''./crates/packager/fret'>fret</a></sup> AND TEXT EDiTOR <sup class='superscript green-100'><a href='https://github.com/invisageable/codelord'>codelord</a></sup>.",
  },
];

const quote: Quote = {
  sentence: "Do less work by not wasting effort.",
  author: "Chandler Carruth",
};
---

<section data-section="features" class="features">
  <Title class="gondola-title" as="h2">## features</Title>
  <div class="features-list" data-features-list>
    {
      features.map((feature) => <Card
        icon={feature.icon}
        title={feature.title}
        content={feature.content}
        class="features-card"
      />)
    }
  </div>
  <Citation sentence={quote.sentence} author={quote.author} />
</section>

<style is:global>
    .features-list {
      border: none;
      display: grid;
      gap: 1rem;
      /* grid-template-columns: none;
       */
      grid-template-columns: repeat(1, 1fr);
      grid-auto-flow: row;
      grid-auto-columns: 100%;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      scrollbar-width: none;
      -webkit-overflow-scrolling: touch;
    }

    .features-list::-webkit-scrollbar {
      display: none;
    }

    .features-card {
      scroll-snap-align: center;
      
      .card-content {
        font-size: 1rem;
      }
    }


    .features-card {
      /* border-bottom: 0; */
      /* &:last-child {
        border-bottom: inherit;
        border-bottom-style: solid;
      } */
    }

    @media (min-width: 768px) {
      .features-list {
        margin: 24px 0 0 0;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-flow: dense;
        gap: 0;

        .features-card {
          scroll-snap-align: center;

          .card-content {
            font-size: 1.25vw;
          }
        }
      }
    
      .features-card:first-child {
        border-right: 0;
        border-bottom: 0;
      }
    
      .features-card:last-child {
        border-top: 0;
        border-left: 0;
      }
  }
</style>
