---
import Title from "../atoms/title.astro";
import Paragraph from "../atoms/paragraph.astro";
import { fetchLatestVersion } from "../../core/version";

const version = await fetchLatestVersion();

const title = "Initiation";
const subtitle = "An initiation to zo.";
const dedication = "For Andrea Le Saint\nAnd those who refuse the uniformity of software.";
const translators = "Translated by ...";
const authors = "invisageable & the compilords";
const edition = `First edition · 2026 · zo version ${version}`;
const quote = "« Why accept slow compilers? Just make them faster. » — Jonathan Blow";
const publisher = "compilords©";
---

<section data-section="initiation" id="initiation">
  <Title class="initiation-title" as="h1">{title}</Title>
  <Paragraph class="initiation-subtitle" content={subtitle} />
  <Paragraph class="initiation-dedication" content={dedication} />
  <Paragraph class="initiation-translators" content={translators} />
  <Paragraph class="initiation-authors" content=`${authors}\n${edition}` />
  <Paragraph class="initiation-quote" content={quote} />
  <Paragraph class="initiation-publisher" content={publisher} />
</section>
