---
import { textTransform } from "../../core/effects/text-transform";
import Paragraph from "../atoms/paragraph.astro";
import Title from "../atoms/title.astro";
import Carousel from "../interactive/carousel.astro";
import Editor from "../interactive/editor.astro";

const SAMPLES = [
  {
    title: "An Ui counter program in zo.",
    code: `fun main() {
  mut count: int = 0;

  -- Look! You can use \`zsx\` to declare Ui.
  imu counter: </> ::= <>
    <button @click={fn() => count -= 1}>-</button>
    {count} <!-- HTML comments in \`zsx\` -->
    <button @click={fn() => count += 1}>+</button>
  </>;

  #dom counter;
}`,
  },
  {
    title: "A Channel send / recv program in zo.",
    code: `fun producer(tx: Tx<int>) {
  tx.send(42);
}
fun consumer(rx: Rx<int>) {
  imu value: int = rx.recv();
  showln("got {value}");  
}
fun main() {
  nursery {
    imu (tx, rx) := channel();
    spawn producer(tx);
    spawn consumer(rx);
  }

  showln("DONE");
}`,
  },
  {
    title: "A fizzbuzz using match program in zo.",
    code: `fun fizzbuzz(n: int) {
  mut x := 1;

  for x := 1..=n {
    match (x % 3, x % 5) {
      (0, 0) => showln("fizzbuzz"),
      (0, _) => showln("fizz"),
      (_, 0) => showln("buzz"),
      _ => showln("{x}"),
    }
  }
}
fun main() {
  fizzbuzz(100)
}`,
  },
  {
    title: "Generics and monomorphization.",
    code: `struct Box<$A, $B> {
  a: $A,
  b: $B,
}
fun main() {
  imu b1 := Box { a: 1, b: 2 };
  showln(b1.a);
  showln(b1.b);

  imu b2 := Box { a: 42, b: "hi" };
  showln(b2.a);
  showln(b2.b);
}`,
  },
];

const description = "A language to ship, run and build native and web applications optimized for speed. zo is a feature-rich ecosystem focus on high-performance, simplicity and data-oriented.";
const punchline = "One language. One compiler. One binary. Native or Web — same source.";
---

<section data-section="prologue" class="prologue">
  <div>
    <Title as="h2">THE zo PROGRAMMiNG LANGUAGE.</Title>
    <Paragraph class="prologue-description" content={textTransform(description)} />
    <Paragraph class="prologue-punchline" content={textTransform(punchline)} />
  </div>
  <Carousel typewriter={true} ariaLabel="zo code samples">
    {
      SAMPLES.map((sample) => <Editor
        class="editor"
        title={sample.title}
        code={sample.code.trimStart()}
      />)
    }
  </Carousel>
</section>

<style>
  .prologue {}
</style>
