---
import { textTransform } from "../../core/effects/text-transform";
import * as m from "../../paraglide/messages";
import Paragraph from "../atoms/paragraph.astro";
import Title from "../atoms/title.astro";
import Carousel from "../interactive/carousel.astro";
import Editor from "../interactive/editor.astro";

const SAMPLES = [
  {
    title: m.sample_counter_title(),
    code: `fun main() {
  mut count: int = 0;

  -- ${m.sample_counter_comment_zsx()}
  imu counter: </> ::= <>
    <button @click={fn() => count -= 1}>-</button>
    {count} <!-- ${m.sample_counter_comment_html()} -->
    <button @click={fn() => count += 1}>+</button>
  </>;

  #dom counter;
}`,
  },
  {
    title: m.sample_channel_title(),
    code: `fun producer(tx: Tx<int>) {
  tx.send(42);
}
fun consumer(rx: Rx<int>) {
  imu value: int = rx.recv();
  showln("got {value}");
}
fun main() {
  nursery {
    imu (tx, rx) := channel();
    spawn producer(tx);
    spawn consumer(rx);
  }

  showln("DONE");
}`,
  },
  {
    title: m.sample_fizzbuzz_title(),
    code: `fun fizzbuzz(n: int) {
  mut x := 1;

  for x := 1..=n {
    match (x % 3, x % 5) {
      (0, 0) => showln("fizzbuzz"),
      (0, _) => showln("fizz"),
      (_, 0) => showln("buzz"),
      _ => showln("{x}"),
    }
  }
}
fun main() {
  fizzbuzz(100)
}`,
  },
  {
    title: m.sample_generics_title(),
    code: `struct Box<$A, $B> {
  a: $A,
  b: $B,
}
fun main() {
  imu b1 := Box { a: 1, b: 2 };
  showln(b1.a);
  showln(b1.b);

  imu b2 := Box { a: 42, b: "hi" };
  showln(b2.a);
  showln(b2.b);
}`,
  },
  {
    title: "A raylib bindings in zo.",
    code: `load core::raylib::*;

fun main() {
  init_window(800, 600, "zo + raylib");
  set_target_fps(60);

  loop {
    if window_should_close() { break }
    if is_key_pressed(32) { break }; -- KEY_SPACE = 32

    begin_drawing();
      clear_background(0xFF000000);                     -- white
      draw_text("hello, zo!", 12, 12, 32, 0xFFFFFFFF);  -- black
    end_drawing();
  }

  close_window();
}`,
  },
];

---

<section data-section="prologue" class="prologue">
  <div>
    <Title as="h2">{textTransform(m.prologue_title())}</Title>
    <Paragraph class="prologue-description" content={textTransform(m.prologue_description())} />
    <Paragraph class="prologue-punchline" content={textTransform(m.prologue_punchline())} />
  </div>
  <Carousel typewriter={true} ariaLabel="zo code samples">
    {
      SAMPLES.map((sample) => <Editor
        class="editor"
        title={sample.title}
        code={sample.code.trimStart()}
      />)
    }
  </Carousel>
</section>

<style>
  .prologue {}
</style>
