---
import { textTransform } from "../../core/effects/text-transform";
import * as m from "../../paraglide/messages";
import Link from "../atoms/link.astro";
import Paragraph from "../atoms/paragraph.astro";
import Title from "../atoms/title.astro"
import Editor from "../interactive/editor.astro";

const sample = "echo -n 'dGhlQGNvbXBpbG9yZHMuaG91c2U=' | base64 --decode";

const socials = [
  {
    name: "GH",
    link: "https://github.com/invisageable/zo",
  },
  {
    name: "DC",
    link: "https://discord.gg/JaNc4Nk5xw",
  },
];
---

<section data-section="reachout" class="reachout">
  <div class="reachout-header">
    <Title class="reachout-header-title" as="h2">{m.reachout_title()}</Title>
  </div>
  <Editor
    code={sample}
    class="editor contact"
    highlight={false}
  />
  <div class="credits">
    <div class="copyright">
      <span>{textTransform(m.reachout_copyright())}</span>
      <span>{textTransform(m.reachout_rights())}</span>
    </div>
    <div class="socials">
      {
        socials.map((social) => <Link
          class="socials-item"
          href={social.link}
          label={social.name}
        />)
      }
    </div>
  </div>
  <div>
  </div>
</section>

<Paragraph
  class="human-faq"
  content="For humans: <a href='/faq'>faq</a>."
/>

<Paragraph
  class="ai-llm"
  content="For Ai agents: <a href='llms.txt'>llms.txt</a> (curated index) and <a href='docs/llms-full.txt'>llms-full.txt</a> (full docs)."
/>

<script>
  import { watcher } from "../../core/watcher";
  import { observer } from "../../core/observer";
  import { Hacker } from "../../core/effects/hacker";

  const hacker = new Hacker();

  document.addEventListener("astro:page-load", () => {
    watcher.add({
      selector: ".fold-center .reachout .editor",
      onMatch: (elmt) => {
        observer.add({
          element: elmt,
          onIntersect: (isIntersecting) => {
            if (!isIntersecting) return;
            hacker.split(elmt);
            hacker.play(elmt, { iterations: 20, charDelayMs: 20 });
          },
        });
      },
    });
  });
</script>

<style>
  .reachout {
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background: var(--color-green-100);
    color: var(--color-black-100);

    :global(.reachout-header-title) {
      width: 100%;
      font-size: 6rem;
      text-align: center;
    }

    .editor {
      font-size: 0.85rem;
      text-align: center;
    }
  }

  .credits {
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 40px 20px 40px;
    display: flex;
    align-items: stretch;
    position: absolute;
  }

  .copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;

    span {
      font-size: 0.75rem;
    }
  }

  .socials {
    margin: 0 0 0 auto;
    display: flex;
    align-items: flex-end;
    gap: 8px;

    :global(.socials-item) {
      padding: 10px;
      border: 1px solid black;
      opacity: 1;
      color: var(--color-black-100);
    }
  }

  :global(.human-faq),
  :global(.ai-llm) {
    margin: 32px 0;
    font-size: calc(var(--base) * 3);
  }

  :global(.human-faq) {
    margin-bottom: 8px;
  }

  :global(.ai-llm) {
    margin-top: 8px;
  }
</style>
