---
import { textTransform } from "../../core/effects/text-transform";
import * as m from "../../paraglide/messages";
import previewZoVscode from "../../assets/previews/preview-zo-templating-counter.png";
import Paragraph from "../atoms/paragraph.astro";
import Title from "../atoms/title.astro";
import Card from "./card.astro";

const TOOLS = [
  {
    name: "codelord",
    description: m.tools_codelord_description(),
    image: "https://github.com/invisageable/codelord/raw/main/apps/coder/codelord-notes/public/assets/codelord-motion-preview-welcome.gif",
    link: "https://github.com/invisageable/codelord",
  },
  {
    name: "fret",
    description: m.tools_fret_description(),
    link: "https://github.com/invisageable/zo/blob/main/crates/packager/fret",
  },
  {
    name: "zo vscode",
    description: m.tools_vscode_description(),
    image: previewZoVscode.src,
    link: "https://github.com/invisageable/zo/tree/main/crates/compiler/zo-vscode",
  },
];
---

<section data-section="tools" class="tools">
  <Title as="h2">{m.tools_title()}</Title>
  <Paragraph content={textTransform(m.tools_description())} />
  <div class="tools-gallery">
    {
      TOOLS.map((tool) => <a target="_blank" href={tool.link}>
        <Card
          class="tools-gallery-item"
          title={tool.name}
          content={textTransform(tool.description)}
          image={tool.image}
        />
      </a>)
    }
  </div>  
</section>

<style>
  .tools {
    .tools-gallery {
      display: grid;
      grid-template-columns: repeat(1, minmax(0, 1fr));
      gap: 20px;
      align-items: stretch;

      :global(.tools-gallery-item) {
        padding: 1rem;

        :global(&.card .card-title) {
          margin: 12px 0 0 0;
          font-size: 4.25vw;
        }

        :global(&.card .card-content) {
          color: var(--color-white-100);
        }
      }
    }
  }

  @media only screen and (min-width: 768px) {
    .tools {
      .tools-gallery {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }
    }
  }
</style>
